.mgl-map {
  height: 70%;
  /*height: 50vw;*/
  display: contents;
}

.map {
  height: 50vw;
  margin-bottom: 10%;
}
@media (max-width: 750px) {
  .map {
    height: 80vw;
  }
}


.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
