<div *ngIf="lists">  <h2 >Lists: </h2>
    <mat-form-field>
      <mat-label>List</mat-label>
      <mat-select [(ngModel)]="selected" name="list">
        <mat-option *ngFor="let item of lists.lists" [value]="item.fileName">
          {{item.fileName}}
        </mat-option>
      </mat-select>
    </mat-form-field></div><div  class="map" style="display:grid;   "><mgl-map
  [style]="'mapbox://styles/mapbox/streets-v9'"
  [zoom]="[7]"
  [center]="[ 9.404954, 52.520008]"
  [pitch]="45"
  (load)="onLoad($event)"
  id="3d-buildings"
  source="composite"
  sourceLayer="building">
<!--  [filter]="['==', 'extrude', 'true']"-->
<!--  type="fill-extrusion"-->
<!--  [minzoom]="15"-->
<!--  [paint]="{-->
<!--            'fill-extrusion-color': '#aaa',-->
<!--            'fill-extrusion-height': ['interpolate', ['linear'], ['zoom'], 15, 0, 15.05, ['get', 'height']],-->
<!--            'fill-extrusion-base': ['interpolate', ['linear'], ['zoom'], 15, 0, 15.05, ['get', 'min_height']],-->
<!--            'fill-extrusion-opacity': 0.6-->
<!--  }"-->
  <mgl-control mglGeocoder [searchInput]="'Wiesbaden'"></mgl-control>
  <mgl-geojson-source id="points" [data]="points"></mgl-geojson-source>
  <mgl-layer
    id="points"
    source="points"
    type="symbol"
    [layout]="{
          'icon-image': '{icon}-15',
          'icon-allow-overlap': true
        }"
    (click)="onClick($event)"
    (mouseEnter)="cursorStyle = 'pointer'"
    (mouseLeave)="cursorStyle = ''"
  ></mgl-layer>
  <mgl-popup *ngIf="selectedPoint" [feature]="selectedPoint">
    <span [innerHTML]="selectedPoint.properties?.description"></span>
  </mgl-popup>
</mgl-map>
</div>
