
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.booking {
  display: flex;
}


@media (max-width: 900px) {
  .booking{
    display: grid;
  }
}



