<div *ngIf="isAuthenticated">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <p style="color:red;">{{loginError}}</p>
        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!isAuthenticated">
  <mat-toolbar style="justify-content: center;">
<div class="header">
  <button mat-button color="primary" (click)="toggle('booking')" style="margin-right:20px">Book</button>
  <button mat-button color="primary" (click)="toggle('users')" style="margin-right:20px">Users</button>
  <button mat-button color="primary" (click)="toggle('add')" style="margin-right:20px">Add Users</button>
  <button mat-button color="primary" (click)="toggle('map')" style="margin-right:20px">Map</button>
  <button mat-button color="primary" (click)="toggle('email')" style="margin-right:20px">Email</button></div>
  </mat-toolbar>
<ng-container *ngIf="booking"><app-adminbooking></app-adminbooking></ng-container>
<ng-container *ngIf="users"><app-adminusers></app-adminusers></ng-container>
<ng-container *ngIf="add"><app-adminadd></app-adminadd></ng-container>
  <ng-container *ngIf="map" > <app-adminmap></app-adminmap></ng-container>
</div>
